:root
{
 
  --color:#325b86;
}
.productDetailContainer
{
    display: flex;
    gap:40px;
  
    margin-block: 50px;
   
    justify-content:center;
    
}
.product
{
    width: 450px;
   
}
.productDetailContainer h1
{
    font-size: 1.5rem !important;
}
.productItem
{
    display: flex;
    gap:20px;
    border:1px solid grey;
    border-radius: 5px;
    padding: 25px;
    margin-top: 10px;
}
.productImg img
{
    width: 100px;
    height:100px;
}

.productDetail .offer
{
    font-size: 1rem;
    display: inline;
    color: grey;
}
.quantityBtn
{
    border:1px solid;
    display: flex;
    & button
    {
        padding-block:0px;
        padding-inline:4px;
    }
}
.quantity
{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
}
.removebtn button{
    color: grey !important;  
    margin-right:-15px !important;
    background-color:white !important;  
    border: none;
    outline: none;
    margin-inline-start:7px;
}
.total
{
    border-left: 1px solid grey;
   
}
.totalContainer
{
    margin-inline: 35px;
    box-shadow: 0 0 3px 0;
    padding: 36px
}
.totalDiscount,.order,.totalPrice
{
    display: flex;
    justify-content: space-between;
} 
 .conBtn:focus
{
    background-color: var(--color) !important;
    color:white !important;
}



.total .btnHeading
{
       margin-block: 90px;
      
       font-size: 0.8rem;
       font-weight: 600;
       color:grey;
}
.total button
{
    padding-inline: 80px;
    background-color:var(--color);
}
.total button:focus
{
    background-color: var(--color) !important;
    color:white !important;
}
.total h5
{
 color:grey;
 font-size:17px;
}
.total span
{
    font-weight: 600;

}
.addressContainer
{
   border-radius: 10px;
   margin-top:15px;
}
.addressHeading h1
{
    
    font-size:18px;
    font-weight: 600;
    color: var(--color);
    
}

select
{
    border: none;
    background-color: white;
    color: #868686;
    font-size: 17px;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 10px;

}
select:focus
{
    border:none;
    color: black;
}
.cartEmpty
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 606px;

}
@media (max-width:950px) {
.productDetailContainer
    {
      flex-direction: column;
      margin-block: 0px;
      align-items: center;
      justify-content:center;
      margin-top:20px;
    }
    .total
{
    border-left: none;
   
}
.totalContainer
{
    margin-inline: 0px;
   
}
.totalDiscount,.order,.totalPrice
{
    display: flex;
    justify-content:start;
}
}
@media (max-width:475px)
{
    .product
{
    width: 350px;
   
}
}
@media (max-width:450px)
{
    .product
    {
        width: 300px;
    }
 
}
@media (max-width:390px)
{
 .productItem
{
  flex-direction:column;
 
}
 .productImg
 {
  display:flex;
  align-item:center;
  
 }
}
